</head>
<body>
  <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <div class="container-fluid">
      <a class="navbar-brand" href="/flights">Mongoose Flights <i class="fas fa-fighter-jet"></i></a>
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav me-auto mb-2 mb-lg-0">
          <li class="nav-item">
            <a 
            class="nav-link active" 
            aria-current="page" 
            href="/flights"
            >ALL FLIGHTS</a>
          </li>
          <li class="nav-item">
            <a 
            class="nav-link active" 
            href="/destinations/new"
            >ADD DESTINATION</a>
          </li>
          <li class="nav-item">
            <a 
            class="nav-link active" 
            href="/flights/new"
          >ADD FLIGHT</a>
          </li>
      </div>
    </div>
  </nav>
  